.slide-img::after{
    content:'';
    border-radius: 14px;
    position:absolute;
    left:0; top:0;
    width:100%;
    height:100%;
    display:inline-block;
    background: linear-gradient(to left, rgba(2, 43, 40, 0.292) 0%,rgba(2, 42, 46, 0.259) 100%);
}